
.dropdown {
    background-color: #2d2d2d;
    border: 1px solid #444;
    color: #ddd;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

.dropdown:focus {
    outline: none;
    border-color: #5c5c5c;
    background-color: #333;
}

.dropdown option {
    background-color: #2d2d2d;
    color: #ddd;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dropdown optgroup {
    font-weight: bold;
    padding-top: 8px;
}

.dropdown option::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    transform: translateY(-50%);
}
